:root {
	--tileSize: 10vw;
}

* {
	margin: 0;
	user-select: none; 
}

body {
	height: 100%;
	overflow: hidden;
}

farm {
	justify-content: center;
    display: flex;
	transform: rotateX(60deg) rotateZ(45deg);
	margin: 0 auto;
	width: auto;
	position: relative;
}

farm-background-row {
	display: block;
	width: auto;
	height: var(--tileSize);
	font-size: 0;
    white-space:nowrap;
}

farm-background-tile {
	background-image: url("img/dirt2.png");
	width: var(--tileSize);
	height: var(--tileSize);
	display: inline-block;
}
farm.outline farm-background-tile {
	cursor: pointer;
}
farm.outline farm-background-tile::after {
	content: "";
	border: solid black 0.01vw;
    width: 100%;
    height: 100%;
	display: block;
	box-sizing: border-box;
}


farm.outline farm-background-tile:hover::after {
	border-width: 0.3vw;
}

farm-background-tile > * {
	transform-origin: top left;
    transform: rotateZ(45deg) rotateX(-60deg) rotateZ(-90deg) scale(1.4);
    display: block;
    position: absolute;
    margin-top: 8vw;
	margin-left: 8vw;
	pointer-events: none;
}




bottomControls {
	position: absolute;
	bottom: 0;
	font-size: 1vw;
	margin-bottom: 1vw;
}

control {
	margin-left: 1vw;
	width: 8vw;
	height: 8vw;
	display: inline-block;
	background-color: lightgrey;
	border: 0.5vw solid grey;
	border-radius: 1vw;
	box-sizing: border-box;
	text-align: center;
	vertical-align: text-bottom;
	cursor: pointer;
}

control > img {
    max-width: 6vw;
    max-height: 5vw;
}

.bg {
	min-width: 100%;
	min-height: 100%;
	position: absolute;
}



plant img {
	transform: translate(-50%, 0);
	bottom: 0;
	position: absolute;
}


plant img[src$="tomaat/2.png"] {
    margin: 2px 2px;
}
plant img[src$="tomaat/3.png"] {
    margin: 6px 2px;
}
plant img[src$="tomaat/4.png"] {
    margin: 8px 0px;
}
plant img[src$="tomaat/5.png"] {
    margin: 2px 2px;
}
plant img[src$="tomaat/6.png"] {
    margin: 8px -3px;
}




plant img[src$="appel/4.png"],
plant img[src$="appel/5.png"] {
    margin: 0 -19px;
}