:root {
	--tileSize: 6vw;
}

* {
	margin: 0;
}

body {
	height: 100%;
	overflow: hidden;
}

farm {
	justify-content: center;
    display: flex;
	transform: rotateX(60deg) rotateZ(45deg);
	margin: 0 auto;
	width: auto;
}

farm-background-row {
	display: block;
	width: auto;
	height: var(--tileSize);
	font-size: 0;
    white-space:nowrap;
}

farm-background-tile {
	background-image: url("img/grass.png");
	width: var(--tileSize);
	height: var(--tileSize);
	display: inline-block;
}
farm.outline farm-background-tile::after {
	content: "";
	border: solid black 0.1vw;
    width: 100%;
    height: 100%;
    display: block;
}


farm.outline farm-background-tile:hover::after {
	border-width: 0.3vw;
}






bottomControls {
	width: 100%;
	height: 8vw;
	position: absolute;
	bottom: 0;
	font-size: 1vw;
	user-select: none; 
}

control:first-child {
	margin: 1vw;
}
control {
	margin: 1vw 1vw 1vw 0;
	width: 6vw;
	height: 6vw;
	display: inline-block;
	background-color: lightgrey;
	border: 0.5vw solid grey;
	border-radius: 1vw;
	box-sizing: border-box;
	text-align: center;
	vertical-align: text-bottom;
	line-height: 9vw;
	cursor: pointer;
}