:root {
	--tileSize: 10vw;
}

* {
	margin: 0;
	user-select: none; 
	-webkit-user-drag: none;
}

body {
	height: 100vh;
	overflow: hidden;
}

farm-scroll-container::-webkit-scrollbar { 
    display: none; 
}
farm-scroll-container {
	display: block;
	width: 100%;
	height: 100%;
	overflow: scroll;
}
farm-container {
	display: inline-block;
    padding: 0 130% 0 30%;
}
farm {
	justify-content: center;
    display: inline-block;
	transform: rotateX(60deg) rotateZ(45deg);
	margin: 0 auto;
	width: auto;
	position: relative;
    line-height: 0;
}

farm-background-row {
	display: inline-block;
	width: auto;
	height: var(--tileSize);
	font-size: 0;
    white-space: nowrap;
}

farm-background-tile {
	background-image: url("img/grass.png");
	width: var(--tileSize);
	height: var(--tileSize);
	display: inline-block;
}
farm-background-tile.farmland {
	background-image: url("img/dirt2.png");
}
farm.grid farm-background-tile,
farm.outline farm-background-tile {
	cursor: pointer;
}
farm.grid farm-background-tile::before,
farm.outline farm-background-tile::before {
	content: "";
	border: solid black 0.01vw;
    width: var(--tileSize);
    height: var(--tileSize);
	display: block;
	box-sizing: border-box;
	position: absolute;
}


farm.outline farm-background-tile:hover::before {
	border-width: 0.3vw;
}

farm-background-tile > *:not(.isometric) {
	transform-origin: top left;
    transform: rotateZ(45deg) rotateX(-60deg) rotateZ(-90deg) scale(1.4);
    display: block;
    position: absolute;
    margin-top: 8vw;
	margin-left: 8vw;
	pointer-events: none;
}








topLeftControls {
	position: absolute;
	top: 0;
	margin-top: 2vw;
	margin-left: 2vw;
}
avatar profile {
	width: 8vw;
	height: 8vw;
    background-color: #ef7171;
    border-radius: 5vw;
    border: solid 1vw #d93838;
}
avatar profile img {
	width: 8vw;
	height: 8vw;
    background-color: #ef7171;
    border-radius: 5vw;
    border: solid 1vw #d93838;
}
avatar #level {
	width: 2.5vw;
	height: 2.5vw;
	border-radius: 2vw;
    border: solid 0.75vw #ffc61b;
	background-color: #fee187;
	position: absolute;
	top: -1vw;
	right: -1vw;
	line-height: 2.6vw;
	text-align: center;
	font-weight: bolder;
	border-right: solid 0.75vw limegreen;
}
avatar #level:before {content: "";
    position: absolute;
    border: solid 0.75vw transparent;
    border-right: solid 0.75vw limegreen;
    width: 2.5vw;
    height: 2.5vw;
    border-radius: 2vw;
    transform: rotateZ(-45deg);
    top: -.75vw;
    left: -.75vw;
}


topRightControls {
	position: absolute;
	top: 0;
	right: 2vw;
	margin-top: 2vw;
}
coins {
	position: absolute;
	right: 0;
}
coins div {
	width: 8vw;
	height: 8vw;
    border: solid 1vw #ffc61b;
	background-color: #fee187;
    border-radius: 5vw;
    line-height: 8vw;
    text-align: center;
    font-weight: bolder;
    font-size: 2.5vw;
}




bottomControls {
	position: absolute;
	bottom: 0;
	font-size: 1vw;
	margin-bottom: 1vw;
}

control {
	margin-left: 1vw;
	width: 8vw;
	height: 8vw;
	display: inline-block;
	background-color: lightgrey;
	border: 0.5vw solid grey;
	border-radius: 1vw;
	box-sizing: border-box;
	text-align: center;
	vertical-align: text-bottom;
	cursor: pointer;
}

control > div {
	width: 6vw;
	height: 5vw;
	margin: auto;
    margin-top: 0.5vw;
}

control img {
    max-width: 6vw;
    max-height: 5vw;
}

.bg {
	min-width: 100%;
	min-height: 100%;
	position: absolute;
}



plant img {
	transform: translate(-50%, 0);
	bottom: 0;
	position: absolute;
}


plant img[src$="tomaat/2.png"] {
    margin: 2px 2px;
}
plant img[src$="tomaat/3.png"] {
    margin: 6px 2px;
}
plant img[src$="tomaat/4.png"] {
    margin: 8px 0px;
}
plant img[src$="tomaat/5.png"] {
    margin: 2px 2px;
}
plant img[src$="tomaat/6.png"] {
    margin: 8px -3px;
}




plant img[src$="appel/4.png"] {
    margin: 0 -19px;
}
plant img[src$="appel/5.png"] {
    margin: 1px -19px;
}





farm-multi-hitbox.h2.w2 {
    width: var(--tileSize);
    height: var(--tileSize);
    display: block;
    margin-top: calc(var(--tileSize)/2);
	margin-left: calc(var(--tileSize)/2);
	cursor: pointer;
	position: relative;
    z-index: 1;
}
farm-multi-hitbox.h2.w2:hover::before {
    content: "";
    outline: solid black 0.3vw;
    padding: solid transparent var(--tileSize);
    width: calc(var(--tileSize)*2);
    height: calc(var(--tileSize)*2);
    transform: translate(-25%, -25%);
    display: block;
    position: absolute;
    box-sizing: border-box;
	pointer-events: none;
}


farm-background-tile:first-child farm-multi-hitbox.h2.w2 {
    padding-left: calc(var(--tileSize)/2);
    margin-left: 0;
}
farm-background-tile:nth-last-child(2) farm-multi-hitbox.h2.w2 {
    width: calc(var(--tileSize)*3/2);
}
farm-background-row:first-child farm-multi-hitbox.h2.w2 {
    padding-top: calc(var(--tileSize)/2);
    margin-top: 0;
}
farm-background-row:nth-last-child(2) farm-multi-hitbox.h2.w2 {
    height: calc(var(--tileSize)*3/2);
}





farm-multi-hitbox.h3.w3 {
    width: calc(var(--tileSize)*2);
    height: calc(var(--tileSize)*2);
    display: block;
	cursor: pointer;
	position: relative;
    z-index: 1;
}
farm-multi-hitbox.h3.w3:hover::before {
    content: "";
    outline: solid black 0.3vw;
    padding: solid transparent var(--tileSize);
    width: calc(var(--tileSize)*3);
	height: calc(var(--tileSize)*3);
	transform: translate(calc(-100%/3), calc(-100%/3));
    display: block;
    position: absolute;
    box-sizing: border-box;
	pointer-events: none;
}




schuur img {
	width: calc(var(--tileSize)*2.8*2);
    transform: translate(-50%, -54%);
}